$ios-light-mode-blue:    rgb(0, 122, 255) !default;
$ios-light-mode-green:   rgb(52, 199, 89) !default;
$ios-light-mode-indigo:  rgb(88, 86, 214) !default;
$ios-light-mode-orange:  rgb(255, 149, 0) !default;
$ios-light-mode-pink:    rgb(255, 45, 85) !default;
$ios-light-mode-purple:  rgb(175, 82, 222) !default;
$ios-light-mode-red:     rgb(255, 59, 48) !default;
$ios-light-mode-teal:    rgb(90, 200, 250) !default;
$ios-light-mode-yellow:  rgb(255, 204, 0) !default;
$ios-light-mode-gray:    rgb(142, 142, 147) !default;
$ios-light-mode-gray2:   rgb(174, 174, 178) !default;
$ios-light-mode-gray3:   rgb(199, 199, 204) !default;
$ios-light-mode-gray4:   rgb(209, 209, 214) !default;
$ios-light-mode-gray5:   rgb(229, 229, 234) !default;
$ios-light-mode-gray6:   rgb(242, 242, 247) !default;

$system-blue:    $ios-light-mode-blue;
$system-green:   $ios-light-mode-green;
$system-indigo:  $ios-light-mode-indigo;
$system-orange:  $ios-light-mode-orange;
$system-pink:    $ios-light-mode-pink;
$system-purple:  $ios-light-mode-purple;
$system-red:     $ios-light-mode-red;
$system-teal:    $ios-light-mode-teal;
$system-yellow:  $ios-light-mode-yellow;
$system-gray:    $ios-light-mode-gray;
$system-gray2:   $ios-light-mode-gray2;
$system-gray3:   $ios-light-mode-gray3;
$system-gray4:   $ios-light-mode-gray4;
$system-gray5:   $ios-light-mode-gray5;
$system-gray6:   $ios-light-mode-gray6;

$base-color: #000 !default;
$text-color: #000 !default;
$accent-color: $system-gray !default;
$nav-color: #fff !default;
$background-color: #fff !default;
$nav-background-color: $system-blue !default;
$code-background-color: tint($base-color, 95%) !default;
$border-color: tint($base-color, 80%) !default;

$primary-color: #000 !default;
$success-color: $system-green !default;
$warning-color: $system-orange !default;
$danger-color:  $system-red !default;
$info-color:    $system-blue !default;

/* Syntax highlighting (base16) colors */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;
