{%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
<time class="page-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
  <a class="u-url" href="{{ entry.url | relative_url }}">{{ page.date | date: date_format }}</a>
</time>{% if page.last_modified_at %}{{ " " }}{% endif %}
{% if page.last_modified_at %}
~ <time class="page-date dt-modified" datetime="{{ page.last_modified_at | date_to_xmlschema }}">
  <a class="u-url" href="{{ entry.url | relative_url }}">{{ page.last_modified_at | date: date_format }}</a>
</time>
{% endif %}
